body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

main {
  overflow-y: scroll;
  padding: 1em;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

main.splash {
  background-image: url("../img/ball-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.empty {
  display: none;
}
